/*cores*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

body {
  background-color: #fdfbf9;
  font-family: "Poppins", serif;
  font-style: normal;
}
body header {
  width: 100%;
  padding: 20px 20px 10px 20px;
  color: #dd2f2e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
body header .logo {
  font-size: 28px;
}
body header button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
body header button i {
  font-size: 30px;
  color: #dd2f2e;
}
body header .container-menu.ativo {
  display: flex;
}
body header .container-menu {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  max-width: 400px;
  height: 100vh;
  background-color: white;
  z-index: 3;
  box-shadow: rgba(0, 0, 0, 0.61) 0px 5px 15px;
}
body header .container-menu div {
  width: 100%;
  height: -moz-min-content;
  height: min-content;
  display: flex;
  justify-content: end;
  padding: 26px 18px;
}
body header .container-menu div ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  text-align: center;
  gap: 20px;
}
body header .container-menu div ul li i {
  font-size: 22px;
  margin-right: 10px;
  color: rgb(71, 71, 71);
}
body header .container-menu div ul li a {
  text-decoration: none;
  color: rgb(71, 71, 71);
  font-size: 22px;
  font-weight: 600;
}
body header .container-menu div ul li:hover {
  color: #dd2f2e;
  transition: 0.4S;
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 20px;
}
main .container-modal-card.ativo {
  display: flex;
}
main .container-modal-card {
  display: none;
  justify-content: center;
  position: absolute;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.61);
  z-index: 2;
}
main .container-modal-card .modal-card {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: white;
  padding: 10px 10px 50px 10px;
}
main .container-modal-card .modal-card .botao-fechar {
  width: 100%;
  display: flex;
  justify-content: end;
  border: none;
}
main .container-modal-card .modal-card .botao-fechar button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}
main .container-modal-card .modal-card .botao-fechar button i {
  font-size: 30px;
  color: #dd2f2e;
}
main .container-modal-card .modal-card .titulo {
  text-align: center;
  margin-bottom: 20px;
}
main .container-modal-card .modal-card .cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .container-modal-card .modal-card .cards .card {
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
  padding: 10px;
}
main .container-modal-card .modal-card .cards .card .img {
  width: 100px;
}
main .container-modal-card .modal-card .cards .card .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
main .container-modal-card .modal-card .cards .card .descricao {
  display: flex;
  flex: 1;
  padding: 0px 10px;
}
main .container-modal-card .modal-card .cards .card .descricao .item p {
  font-size: 22px;
  font-weight: 600;
}
main .container-modal-card .modal-card .cards .card .descricao .acresentar {
  display: flex;
  gap: 10px;
  align-items: center;
}
main .container-modal-card .modal-card .cards .card .descricao .acresentar button {
  border: none;
  background-color: #dd2f2e;
  width: 20px;
  border-radius: 4px;
  cursor: pointer;
}
main .container-modal-card .modal-card .cards .card .excluir {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
}
main .container-modal-card .modal-card .cards .card .excluir button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
main .container-modal-card .modal-card .cards .card .excluir button i {
  font-size: 24px;
  color: rgb(80, 80, 80);
}
main .container-modal-card .modal-card .obiservacao {
  padding: 20px 0px;
}
main .container-modal-card .modal-card .obiservacao textarea {
  width: 100%;
  height: 50px;
  border: solid rgb(80, 80, 80) 1px;
  border-radius: 6px;
  padding: 5px;
  resize: none;
}
main .container-modal-card .modal-card .soma {
  width: 100%;
  text-align: center;
  padding: 10px;
}
main .container-modal-card .modal-card #enviar-pedido {
  width: 100%;
  height: 50px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: -1px;
  padding: 10px;
  background-color: #dd2f2e;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 600;
}
main .pesquisa-fixa {
  width: 100%;
}
main .pesquisa-fixa p {
  font-size: 28px;
  font-weight: 600;
  line-height: 28px;
  color: #dd2f2e;
  margin: 20px 0px;
}
main .pesquisa-fixa .pesquisa {
  margin: 20px 0px;
}
main .pesquisa-fixa .pesquisa label {
  width: 100%;
  background-color: #f1f1f1;
  padding: 20px 30px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .pesquisa-fixa .pesquisa label input {
  border: none;
  background-color: transparent;
  font-size: 20px;
  padding-right: 20px;
}
main .pesquisa-fixa .pesquisa label textarea:focus, main .pesquisa-fixa .pesquisa label input:focus, main .pesquisa-fixa .pesquisa label select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}
main .pesquisa-fixa .pesquisa label i {
  color: rgb(109, 109, 109);
}
main .categorias-cardapio .titulo-cardapio {
  color: #dd2f2e;
}
main .categorias-cardapio .opcoes-cardapio {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  white-space: nowrap;
  width: auto;
  gap: 10px;
  padding: 10px 0px;
}
main .categorias-cardapio .opcoes-cardapio .btn-card {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 20px;
  border: none;
  padding: 10px 20px;
  gap: 10px;
  cursor: pointer;
}
main .categorias-cardapio .opcoes-cardapio .btn-card p {
  color: rgb(109, 109, 109);
  font-size: 18px;
}
main .categorias-cardapio .opcoes-cardapio .btn-card i {
  color: rgb(109, 109, 109);
  font-size: 18px;
}
main .categorias-cardapio .opcoes-cardapio .btn-card:hover p, main .categorias-cardapio .opcoes-cardapio .btn-card:hover i {
  color: white;
}
main .categorias-cardapio .opcoes-cardapio .btn-card:hover {
  background-color: #dd2f2e;
  transition: 0.4s;
}
main .categorias-cardapio .opcoes-cardapio .btn-card:focus {
  background-color: #dd2f2e;
  transition: 0.4s;
  border: none;
}
main .categorias-cardapio .opcoes-cardapio .btn-card:focus p, main .categorias-cardapio .opcoes-cardapio .btn-card:focus i {
  color: white;
}
main .categorias-cardapio .lista-cardapio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
main .categorias-cardapio .lista-cardapio .card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 45%;
  max-width: 300px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
}
main .categorias-cardapio .lista-cardapio .card .img img {
  -o-object-fit: cover;
     object-fit: cover;
}
main .categorias-cardapio .lista-cardapio .card .descricao {
  padding: 5px 15px;
}
main .categorias-cardapio .lista-cardapio .card .descricao span {
  font-size: 20px;
  font-weight: 600;
}
main .categorias-cardapio .lista-cardapio .card .botao-add-card {
  display: flex;
  width: 100%;
  justify-content: center;
}
main .categorias-cardapio .lista-cardapio .card .botao-add-card button {
  width: 100%;
  height: 40px;
  background-color: #dd2f2e;
  border: none;
  color: white;
  padding: 5px 0px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}
main .categorias-cardapio .lista-cardapio .card .botao-add-card button:hover {
  background-color: #dd2f2e;
}

footer {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
footer button {
  border: none;
  width: 60px;
  height: 60px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 50%;
  cursor: pointer;
}
footer button i {
  font-size: 30px;
  color: #dd2f2e;
}/*# sourceMappingURL=style.css.map */